
html, body {
    margin: 0;
    height: 100%;
}

body {
  background-color: white;
  width: 100%;
  height:100%;
}


#scores {
  padding: 10px;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #ddd;
  text-align: right;
  border-radius: 3px;
}
#scores span {
  display: inline-block;
  width: 30px;
}
.container {

    background: url(media/grass.jpg) no-repeat;
  background-position:center;
  background-size: 105%;
  position: relative;
  width: 100%;
  height:100%;
}

.rule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.rule line.axis {
  stroke: #000;
}

.area {
  fill: lightsteelblue;
}

.line, circle.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.area {
  fill: #fff;
}

#gameBoard {
  display:block;
  position:absolute;
  border: green 1px solid;
}

#killKenny {
  position:absolute;
  display:block;
  top:0;
  left:0;
}


